Brotli==1.0.9
cffi==1.15.0
chardet==4.0.0
cryptography==35.0.0
cycler==0.11.0
Cython==0.29.24
dl==0.1.0
imageio==2.10.3
importlib-metadata==4.8.1
ipaddr==2.2.0
jeepney==0.7.1
joblib==1.1.0
keyring==23.2.1
kiwisolver==1.3.2
matplotlib==3.4.3
mock==4.0.3
mypy-extensions==0.4.3
networkx==2.6.3
numpy==1.21.4
opencv-python==4.5.4.58
ordereddict==1.1
Pillow==8.4.0
protobuf==3.19.1
pycparser==2.20
pyOpenSSL==21.0.0
pyparsing==3.0.4
python-dateutil==2.8.2
PyWavelets==1.1.1
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.7.2
SecretStorage==3.3.1
simplejson==3.17.5
six==1.16.0
threadpoolctl==3.0.0
tifffile==2021.11.2
torch==1.10.0
torchvision==0.11.1
typing-extensions==3.10.0.2
unicodedata2==13.0.0.post2
wincertstore==0.2
zipp==3.6.0
